<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>twitMap</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>heatmap_version.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>  
  
  <servlet>
    <display-name>NotificationServer</display-name>
    <servlet-name>NotificationServer</servlet-name>
    <servlet-class>NotificationServer</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>NotificationServer</servlet-name>
    <url-pattern>/NotificationServer</url-pattern>
  </servlet-mapping>
</web-app>